.vs/
obj/
bin/
*.user

# Rider
.idea/**/workspace.xml
.idea/**/shelf
.idea/**/*.iml
.idea/**/tasks.xml
.idea/**/projectSettingsUpdater.xml
.idea/**/contentModel.xml
.idea/**/modules.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
